[submodule "tanstack_task"]
	path = tanstack_task
	url = git@github.com:augustikasystango/tanstack_task.git
[submodule "interceptor_task"]
	path = interceptor_task
	url = git@github.com:augustikasystango/interceptor_task
[submodule "crud_ts"]
	path = crud_ts
	url = git@github.com:augustikasystango/crud_ts
[submodule "task2_react"]
	path = task2_react
	url = git@github.com:augustikasystango/task2_react
[submodule "toggletheme_task"]
	path = toggletheme_task
	url = git@github.com:augustikasystango/Toggle_theme_task
[submodule "test_task_2"]
	path = test_task_2
	url = git@github.com:augustikasystango/test_task_2
[submodule "router_tanstack_task"]
	path = router_tanstack_task
	url = git@github.com:augustikasystango/router_tanstack_task
